/* .product{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.productCard{
    width: 250px;
    padding: 20px;
    box-shadow:  0 0 10px rgb(230, 10, 216);
    text-align: center;
    margin : 10px 10px 10px 10px;
}
.productSection{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
} */



.productsCard {
    width: 250px;
    padding: 20px;
    box-shadow: 0 0 10px green;
    text-align: center;
  }
  img {
    transition-property: transform;
    transition-duration: 2s;
  }
  .productsCard img:hover {
    transform: scale(1.5, 1.5);
  }